@use '../abstracts' as a;

$fontSizeH1: clamp(a.pixel-to-rem(28), a.pixel-to-rem(18) + 4vw, a.pixel-to-rem(48));
$fontSizeP: a.pixel-to-rem(16);
$fontSizeB: a.pixel-to-rem(16);

h1,
h2,
h3 {
  // margin-top: 0;
  // font-weight: 700;
  line-height: 1.1;
}

h1 {
  // font-size: clamp(a.pixel-to-rem(28), a.pixel-to-rem(16) + 2vw, a.pixel-to-rem(40));
  font-size: $fontSizeH1;
}

// h2 {
//   font-size: clamp(a.pixel-to-rem(22), a.pixel-to-rem(14) + 1.5vw, a.pixel-to-rem(36));
// }

p {
  // margin-top: 0;
  font-size: $fontSizeP;
}

b {
  font-size: $fontSizeB;
}

// a,
// a:visited,
// a:active {
//   text-decoration: none;
// }
