@use '../abstracts' as a;

h1,
h2,
h3 {
  // margin-top: 0;
  // font-weight: 700;
  line-height: 1.1;
}

h1 {
  // font-size: clamp(a.pixelToRem(28), a.pixelToRem(16) + 2vw, a.pixelToRem(40));
  font-size: clamp(a.pixelToRem(28), a.pixelToRem(18) + 4vw, a.pixelToRem(48));
}

// h2 {
//   font-size: clamp(a.pixelToRem(22), a.pixelToRem(14) + 1.5vw, a.pixelToRem(36));
// }

p {
  // margin-top: 0;
  font-size: a.pixelToRem(16);
}

b {
  font-size: a.pixelToRem(16);
}

// a,
// a:visited,
// a:active {
//   text-decoration: none;
// }
