@use '../abstracts' as a;

$elementBgModifiers: 'beige', 'black', 'blue', 'brown', 'gray', 'green',
  'orange', 'pink', 'purple', 'red', 'white', 'yellow';

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: a.pixelToRem(64);
}

.grid-container {
  display: grid;
  gap: a.pixelToRem(10);
  width: min(90%, a.pixelToRem(1400));

  @include a.breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include a.breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__element {
    padding: a.pixelToRem(64);
    border-radius: a.pixelToRem(20);

    &:hover {
      cursor: pointer;
    }

    // Creating .grid-container__element background color modifiers
    @each $color in $elementBgModifiers {
      &--bg-#{$color} {
        @extend .grid-container__element;
        background-color: var(--#{$color});
      }
    }
  }
}

.black-text {
  color: var(--black);
}
