@use '../abstracts' as a;
@use '../base' as b;

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: a.pixelToRem(64);
}

.grid-container {
  display: grid;
  gap: a.pixelToRem(10);
  width: min(90%, a.pixelToRem(1400));

  @include a.breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include a.breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__element {
    padding: a.pixelToRem(64);
    border-radius: a.pixelToRem(20);

    &:hover {
      cursor: pointer;
    }

    // Creating .grid-container__element background color modifiers
    @each $color in a.$gridContainerElementBgModifiers {
      &--bg-#{$color} {
        @extend .grid-container__element;
        background-color: var(--#{$color});

        position: relative;
        &::before {
          content: map-get(
            a.$phoneticPronunciation,
            map-get(a.$englishToSpanish, $color)
          );
          // Centering ::before in the center, then putting down for 20px
          position: absolute;
          top: 6;
          margin-top: a.pixelToRem(22);
          margin-left: auto;
          margin-right: auto;
          // Text look
          opacity: 0.7;
          transition: opacity 150ms ease-in-out;

          // Accessability for mobile devices
          @include a.breakpoint(large) {
            opacity: 0;
          }
        }
        &:hover::before {
          opacity: 0.7;
        }
      }
    }
  }
}

.black-text {
  color: var(--black);
}
