@use '../abstracts' as a;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: a.pixel-to-rem(20);

  @include a.breakpoint(medium) {
    padding: a.pixel-to-rem(32);
  }

  // Text with color change animation
  &__title {
    animation: colorRotate 5s linear 0s infinite;
  }
}

// Text color change animation
@keyframes colorRotate {
  from {
    color: var(--purple);
  }
  10% {
    color: var(--blue);
  }
  50% {
    color: var(--green);
  }
  75% {
    color: var(--red);
  }
  100% {
    color: var(--purple);
  }
}
