@import url('https://fonts.googleapis.com/css2?family=Viga');

:root {
    --beige: #f5f5dc;
    --black: #000000;
    --blue: #0099ff;
    --brown: #a52a2a;
    --gray: #808080;
    --green: #4cbb17;
    --orange: #ffa500;
    --pink: #ff3399;
    --purple: #5d3fd3;
    --red: #c60b1e;
    --white: #ffffff;
    --yellow: #ffc100;

    --bg: #242526;
    --text: #ffffff;
}

body {
    background-color: var(--bg);
    font-family: Viga;
    color: var(--text);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* .title {
    background: var(--yellow);
    background: linear-gradient(to right, var(--yellow) 0%, var(--red) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
} */

.title {
    font-size: 1.2rem;
    animation: colorRotate 5s linear 0s infinite;
}
@keyframes colorRotate {
    from {
      color: var(--purple);
    }
    10% {
      color: var(--blue);
    }
    50% {
      color: var(--green);
    }
    75% {
      color: var(--red);
    }
    100% {
      color: var(--purple);
    }
}

.main {
    text-align: center;
    margin-bottom: 4rem;
}

.grid-container {
    display: grid;
    gap: .6rem;
}

.grid-element {
    padding: 4rem;
    font-size: 1rem;
    border-radius: 1rem;
    transition: all ease-in-out .4s ;
}
.grid-element:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: .2rem;
    background-color: var(--orange);
    font-size: .8rem;
    text-align: center;
}

.black {
    color: var(--black);
}

.bg-beige {
    background-color: var(--beige);
}
.bg-black {
    background-color: var(--black);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-brown {
    background-color: var(--brown);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-green {
    background-color: var(--green);
}
.bg-orange {
    background-color: var(--orange);
}
.bg-pink {
    background-color: var(--pink);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-red {
    background-color: var(--red);
}
.bg-white {
    background-color: var(--white);
}
.bg-yellow {
    background-color: var(--yellow);
}

@media (min-width: 50em) {
    .header {
        padding: 2rem;
    }
    .title {
        font-size: 2rem;
        letter-spacing: .4rem;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 70em) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 90em) {
    .grid-container {
        padding: 0 6rem 0 6rem;
   }
}
