:root {
  --beige: #f5f5dc;
  --black: #000000;
  --blue: #0099ff;
  --brown: #a52a2a;
  --gray: #808080;
  --green: #4cbb17;
  --orange: #ffa500;
  --pink: #ff3399;
  --purple: #5d3fd3;
  --red: #c60b1e;
  --white: #ffffff;
  --yellow: #ffc100;

  --bg: #242526;
  --text: #ffffff;
}
