$grid-container-element-bg-modifiers: 'beige', 'black', 'blue', 'brown', 'gray',
  'green', 'orange', 'pink', 'purple', 'red', 'white', 'yellow';

$english-to-spanish: (
  'beige': 'beis',
  'black': 'negro',
  'blue': 'azul',
  'brown': 'marrón',
  'gray': 'gris',
  'green': 'verde',
  'orange': 'naranja',
  'pink': 'rosa',
  'purple': 'morado',
  'red': 'rojo',
  'white': 'blanco',
  'yellow': 'amarillo',
);

$phonetic-pronunciation: (
  'amarillo': 'amaɾiʝo',
  'azul': 'aθul',
  'beis': 'beis',
  'blanco': 'blanko',
  'gris': 'gɾis',
  'marrón': 'maron',
  'morado': 'moɾaðo',
  'naranja': 'naɾaŋχa',
  'negro': 'neɣɾo',
  'rojo': 'roχo',
  'rosa': 'rosa',
  'verde': 'beɾðe',
);
